.link{
    text-decoration: none;
    background-color: #03be9f;
    color: white;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link:hover,
.link:active {
    background-color: #02afa1;
    border-color: #02afa1;
}